<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                   
                       TPVS
                    
                </li>
                <li>
                    
                        EtermAdmin
                  
                </li>
                <li>
             
                </li>
                <li>
             
                </li>
            </ul>
        </nav>
    
    </div>
</footer>
