<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Encuestas</h4>
                      <p class="card-category"> Lista de encuestas</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                   <th scope="col">ID</th>
            <th scope="col">¿Su terminal se encuentra operando correctamente?</th>
            <th scope="col">¿Se le dio capacitacion sobre el uso y manejo de su terminal?</th>
            <th scope="col">¿El tecnico se encontro uniformado?</th>
            <th scope="col">¿El tecnico fue amable al realizar el servicio?</th>
            <th scope="col">Foto del tecnico</th>
            <th scope="col">Foto de la terminal o insumo</th>
            <th scope="col">Foto del personal o comercio</th>
            <th scope="col">Direccion</th>
            <th scope="col">Fecha</th>
                              </thead>
                              <tbody>
                                  <tr>
            <th scope="row">1</th>
            <td>SI</td>
            <td>SI</td>
            <td>NO</td>
            <td>SI</td>
            <td><img  src="assets\img\tecnico.png" style="height: 50px; width: 50px;"></td>
            <td> <img src="assets/img/terminal.png" style="height: 50px; width: 50px;"></td>
            <td> <img src="assets/img/personal.png" style="height: 50px; width: 50px;"></td>
            <td>AV. BAJA VELOCIDAD 54, CASA BLANCA , METEPEC , MEX ,</td>
            <td>08/03/2023</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>SI</td>
            <td>SI</td>
            <td>NO</td>
            <td>SI</td>
            <td><img src="assets/img/tecnico.png" style="height: 50px; width: 50px;"></td>
            <td> <img src="assets/img/terminal.png" style="height: 50px; width: 50px;"></td>
            <td> <img src="assets/img/personal.png" style="height: 50px; width: 50px;"></td>
            <td>AV. BAJA VELOCIDAD 54, CASA BLANCA , METEPEC , MEX ,</td>
            <td>08/03/2023</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>SI</td>
            <td>SI</td>
            <td>NO</td>
            <td>SI</td>
            <td><img src="assets/img/tecnico.png" style="height: 50px; width: 50px;"></td>
            <td> <img src="assets/img/terminal.png" style="height: 50px; width: 50px;"></td>
            <td> <img src="assets/img/personal.png" style="height: 50px; width: 50px;"></td>
            <td>AV. BAJA VELOCIDAD 54, CASA BLANCA , METEPEC , MEX ,</td>
            <td>08/03/2023</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>SI</td>
            <td>SI</td>
            <td>NO</td>
            <td>SI</td>
            <td><img src="assets/img/tecnico.png" style="height: 50px; width: 50px;"></td>
            <td> <img src="assets/img/terminal.png" style="height: 50px; width: 50px;"></td>
            <td> <img src="assets/img/personal.png" style="height: 50px; width: 50px;"></td>
            <td>AV. BAJA VELOCIDAD 54, CASA BLANCA , METEPEC , MEX ,</td>
            <td>08/03/2023</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>SI</td>
            <td>SI</td>
            <td>NO</td>
            <td>SI</td>
            <td><img src="assets/img/tecnico.png" style="height: 50px; width: 50px;"></td>
            <td> <img src="assets/img/terminal.png" style="height: 50px; width: 50px;"></td>
            <td> <img src="assets/img/personal.png" style="height: 50px; width: 50px;"></td>
            <td>AV. BAJA VELOCIDAD 54, CASA BLANCA , METEPEC , MEX ,</td>
            <td>08/03/2023</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>SI</td>
            <td>SI</td>
            <td>NO</td>
            <td>SI</td>
            <td><img src="assets/img/tecnico.png" style="height: 50px; width: 50px;"></td>
            <td> <img src="assets/img/terminal.png" style="height: 50px; width: 50px;"></td>
            <td> <img src="assets/img/personal.png" style="height: 50px; width: 50px;"></td>
            <td>AV. BAJA VELOCIDAD 54, CASA BLANCA , METEPEC , MEX ,</td>
            <td>08/03/2023</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>SI</td>
            <td>SI</td>
            <td>NO</td>
            <td>SI</td>
            <td><img src="assets/img/tecnico.png" style="height: 50px; width: 50px;"></td>
            <td> <img src="assets/img/terminal.png" style="height: 50px; width: 50px;"></td>
            <td> <img src="assets/img/personal.png" style="height: 50px; width: 50px;"></td>
            <td>AV. BAJA VELOCIDAD 54, CASA BLANCA , METEPEC , MEX ,</td>
            <td>08/03/2023</td>
        </tr>
   
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
         
  </div>
</div>
