<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Usuarios</h4>
            <p class="card-category">Lista de usuarios</p>
          </div>
          <div class="card-body"></div>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Password</th>
                <th scope="col">Status</th>
                <th scope="col">Tipo Usuario</th>
                <th scope="col">Acciones</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of listUser">
                  <th scope="row">{{ item.usuarioId }}</th>
                  <td>{{ item.usuarioNombre }}</td>
                  <td>*******</td>
                  <td>{{ item.cveStatus }}</td>
                  <td>{{ item.tipoUsuario }}</td>
                  <button mat-button class="btn-small">Actualizar</button>
                  <button mat-button color="warn" (click)="deleteUserById(item.usuarioId)">
                    Eliminar
                  </button>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="nuevoUser">
        <button (click)="isDivVisible = !isDivVisible" mat-raised-button style="background-color: #42a5f5; ">Nuevo
          usuario</button>
        </div>
      </div>
      <div class="col-md-4" *ngIf="isDivVisible">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Crear usuario</h4>

            <p class="card-category">Formulario para Nuevo usuario</p>
          </div>
          <div class="card-body">
            <form action="">
              <mat-form-field appearance="fill">
                <mat-label> Nombre </mat-label>
                <input matInput type="usuario_nombre" id="usuario_nombre" [(ngModel)]="user.usuario_nombre"
                  name="usuario_nombre" required />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label> Password </mat-label>
                <input matInput type="password" id="usuario_pwd" [(ngModel)]="user.usuario_pwd" name="usuario_pwd"
                  name="usuario_pwd" required />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label> status </mat-label>
                <mat-select [(ngModel)]="user.cve_status" name="cve_status">
                  <mat-option *ngFor="let statu of status" [value]="statu" required>{{ statu }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label> tipo usuario </mat-label>
                <mat-select [(ngModel)]="user.tipo_usuario" name="tipo_usuario">
                  <mat-option *ngFor="let tipo of tipos" [value]="tipo" required>{{ tipo }}</mat-option>
                </mat-select>
              </mat-form-field>
              <button (click)="save(user)" mat-raised-button id="Crear"
                style="background-color: #42a5f5; justify-content: center">
                Nuevo
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>